
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<h2>Email Comfirmation</h2>
<h5>A verification mail has been sent to your email address please verify your account.</h5>
<h5>Once verification is successful, please click the continue button.</h5>

<a href={% url 'login' %}><button class="btn continue btn-success" id='continue_btn'>Continue</button></a>

</body>
